 *{
    margin: 0;
    padding: 0;
}

body {
    background-image: url('img/IMG_0002.jpg');
    background-repeat: no-repeat; /*pour éviter que l'image se répète*/
    background-size: cover; /*pour que l'image prenne la taille entière de la div qui la contient (ici body)*/
}


#titre {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;

}

#app {
    display: flex;
    justify-content: center;
}


h1 {
    color: white;
}

#block {
    background-color: white;
    display: inline-block;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 300px;
    padding: 20px;
    border-radius: 3px;
    
}

input {
    background-color:#D5D9B9;
    margin-bottom: 20px;
    margin-right: 4px;

}


.vert {
    background-color: #809B6C ;
    padding-bottom: 7px ;
    padding-top: 7px ;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:small;
    color: white;
}

#clean {
    background-color: #CE7777;
    margin-top: 10px;
    margin-left: 5px;
}

#inverser{
    margin-top: 10px;
    margin-right: 5px;
}

.allBouton {
    padding-bottom: 7px ;
    padding-top: 7px ;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    color: white;
}

p {
    color: #5B7063;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}